doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='programming, education')
    meta(name='viewport', content='width=device-width')
    title Class Mentors
    link(rel='stylesheet', href='cm_main.min.css')
  body

    block content
      .container
        .gf-row
          .gf-cell.w75
            hello world

    footer(role='contentinfo')
      .container
        nav(role='navigation')
          ul.list-unstyled.list-inline
            li
              a(href='#') Home
            li
              a(href='#') About

        p Copyright © 2016 Class Mentors
