extends ./base.jade

block content
    section.cm-head
      .container
        h1.centered Learning to Code Can be Fun and Efficient

    section
      .container
        .gf-row
          .gf-cell
            h2.centered Welcome to ClassMentors!
            p.space-btm.
              ClassMentors is a platform for organizing coding competions...
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.

          .gf-cell
            img(src='img/jc-ncc.png' class='scaled')

    section.colorbg
      .container
        .gf-row
          .gf-cell
            h3.centered play
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.

          .gf-cell
            h3.centered organize
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.

          .gf-cell
            h3.centered compete
            p.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur.


    section
      .container.centered
        h2 Ready to go?
        button(class='btn btn-large btn-cm') Try online

    section.colorbg
      .container
        h2 Past Events

        ul
          li 2015 NIC JC and High School Coding Championship - Mar 21, 2015
          li 2015 NIC Polytechnic Coding Championship - Mar 21, 2015
          li 2014 National JC and HS Coding Championship - Mar 29, 2014
          li 2014 Polytechnic Coding Championship - Mar 29, 2014
          li 2014 IDA Secondary School Coding Championship - Mar 21, 2014
